<div>
   
        <a href="/sellers/sign-up">
            <button>
                Click me to sign Up if you are a seller
            </button>
        </a>
        <a href="/">
            <button>Click me to go to DIVIShop</button>
        </a>
    
    
       
    
</div>