<form action="/sellers/create" method="post">
    <input type="email" name="email" required placeholder="Enter email...">
    <input type="text" name="businessName" required placeholder="Enter business name...">
    <input type="password" name="password" required placeholder="Enter password...">
    <input type="password" name="confirmPassword" required placeholder="Enter confirm password...">
    <input type="submit" value="Sign-Up">
</form>