<center>
    <h1>Add some basic information of your store so that customers can get a clear picture of your store...</h1>
</center>

    <% if(store){%>
        <b>This is your personal store's url Keep it safe:-&nbsp;</b>
        <span>
            <a href="http://localhost:8000/sellers/<%=currentSeller.email%>">
                <mark>http://localhost:8000/sellers/<%=currentSeller.email%></mark>
            </a>
        </span>
    <%}else{%>    



<form action="/sellers/store/create" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend><h3>Store Info</h3></legend>
        <label for="address">Address :-</label>
        <input type="text" placeholder="Enter store address..." id="address" name="address" required>
        <br>
        <br>
        <label for="gst">GST NO. :-</label>
        <input type="text" placeholder="Enter GST number..." id="gst" name="gst" required>
        <br>
        <br>
        <label for="logo">Logo :-</label>
        <input type="file" placeholder="Enter Store logo..." id="logo" name="logo" value="" required>
        <br>
        <br>
        <label for="from-time">From :-</label>
        <input type="time" placeholder="Enter opening time..." id="from-time" name="fromTime" required>
        <br>
        <br>
        <label for="to-time">To :-</label>
        <input type="time" placeholder="Enter closing time..." id="to-time" name="toTime" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<%}%>
